header {
  width: 1440px;
  height: 100px;

  background: #333333;
}

.title {
  position: absolute;
  height: 47px;
  top: 26.5px;
  left: 588.5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  text-align: center;
  color: #ffffff;
}
